/* Colors */
$paragraph-color: #979797;
$brand-main-color: #ff0000;
$values-color: #000000;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: 'Proza Libre', sans-serif;
$paragraph-font: 'Rubik', sans-serif;