@import "variables.scss";
@import "mixins.scss";
@import "normalize.scss";
@import "layout.scss";
/* Components */
// @import "components/form_field";

/* Sections */
// @import "section/registration_form";

/* Pages / Views */
// @import "pages/registration";

/*Global*/
*, *::after, *::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: $paragraph-font-size;
    line-height: 1.5;
    font-family: $paragraph-font;
    color: $paragraph-color;
    background-color: gainsboro;
    z-index: 1;
}    
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
.container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/*Navigation*/
.navigation-sidebar {
    height: 100vh;
    width: 18%;
    padding: 20px 0;
    position: fixed;
    overflow: hidden;
    background-color: rgb(26, 25, 25);
}
.navigation-sidebar-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.sidebar-brand-name {
    color: white;
    font-family: $brand-font;
}
.general, .links, .top-bar {
    margin-left: 18%;
    background-color: white;
    z-index: 2;
    overflow: hidden;
}
i, fas fa-bars {
    color: #979797;
    font-size: 28px;
}
.navigation-sidebar-menu ul {
    padding-left: 0;
}
.navigation-sidebar-menu ul li {
    display: block;
    padding: 15px 0;
    border: 1px solid white;
    margin-left: 0;
    a {
        text-decoration: none;
        font-family: $paragraph-font;
        color: $paragraph-color;
        padding: 20px 15px;       
    }
}
.navigation-sidebar-menu ul li:hover{
    background: #979797; 
    a{
        color: #F5F5F2;
    }
}
.icon {
    color: #F5F5F2;
    filter: invert(.5);
    margin-left: 15px;
    height: 20px;
    width: 20px;
    background-position: center center;
    background-attachment: fixed;       
}
.top-bar-image {
    width: 20px;
    height: 20px;
}
h3 {
    display: inline;
    color: $paragraph-color;
}
.username {
    color: #56819F;
    font-family: $paragraph-font;
    font-size: 14px;
}
.frame {
    border-right: darkgray 1px solid;
    border-bottom: darkgray 1px solid;
    text-align: center;
}
 /* General */
 .general {
     margin-left: 20%;
     margin-right: 2%;
     margin-top: 2%;
 }
 .general-wrapper {
     margin: 15px;
}